<h1>Genres</h1>

<% if @movies.length == 0 %>
<h2>No Movies in this Genre.</h2>
<% end %>

<% @movies.each do |movie| %>
      <div class = "movieHols">
        <h1><%= movie.title %></h1>
        <%= link_to (image_tag movie.image_url, :class=> "movieHolsIm"), movie %>
        <p><%= movie.description %></p>
        <p>Price: <%= number_to_currency(movie.price, :unit => "€") %>
        <br>
        Genre: <%= movie.genre %>
        <br>
        Rating: <%= movie.rating %>
        </p>
        
        
          <p>
            
            
            <%= link_to 'Show', movie, :class =>"button", :role=>"button" %>
            
            <% if user_signed_in? %>
            <a href="/cart/<%= movie.id %>" class="button">Add to Cart</a>
            <% end %>
            
            
            <% if admin_signed_in? %>
            
            <%= link_to 'Edit', edit_movie_path(movie), :class=>"button", :role=>"button" %>
            <%= link_to 'Delete', movie, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"button", :role =>"button" %>
            
            <% end %>
            
          </p>
        </div>
    <% end %>